bin/
docs_build/
obj/
stubs/
__pycache__/
*.pyc
/runs/
/studies/
/tmp/

# Large grid/mesh files
*.vts
*.grid
/logs/*
!/logs/guide.md
.picurv-execution.yml
.picurv-local.yml
.picurv-python
.picurv-python-env
.picurv-venv/
